body {
  margin: 0;
  font-family: "Roboto";
  background: #f2f4f7;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


.logout-btn {
  float: right;
  background: #ff5c5c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #d94343;
}



.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 12px;
}

.form input:focus {
  outline: none;
  border-color: #4a90e2;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background: #357abd;
}



.card-container {
  margin-top: 20px;
}

.card {
  padding: 15px;
  border-radius: 8px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

.card h3 {
  margin: 0 0 8px 0;
}

.card p {
  margin: 4px 0;
}



.btn-group {
  margin-top: 10px;
  display: flex;
}

.btn-group button {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

.paid-btn {
  background: #28a745;
}

.paid-btn:hover {
  background: #1e7e34;
}

.delete-btn {
  background: #dc3545;
}

.delete-btn:hover {
  background: #a71d2a;
}
